:root {
  --white: #ffffff;
  --black: #000000;
  --primary: #2457ac;
  --secondary: #0b80e0;
  --primary-colortext: #333333;
  --accent-colortext: #12c1cb;
}

html {
  font-size: 12px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: opacity 3s ease-in-out;
}

@media (max-width: 768px) {
  html {
    font-size: 10px;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Radio Canada Big", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  margin: 0;
}


[class*="contenedor"],
main {
  width: min(95%, 120rem);
  margin: 3rem auto;
}
