:root {
  --white: #ffffff;
  --black: #000000;
  --primary: #2457ac;
  --secondary: #0b80e0;
  --primary-colortext: #333333;
  --accent-colortext: #12c1cb;
  color-scheme: light dark;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: light-dark(var(--primary-colortext) var(--white));
  background-color: light-dark(var(--white) var(--black));
  font-family: "Radio Canada Big", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}

img {
  max-width: 100%;
  height: auto;
}

[class*="contenedor"],
main {
  width: min(95%, 120rem);
  margin: 3rem auto;
}

.logo {
  width: fit-content;
}

.header .logo img {
  width: 100%;
  height: auto;
}

.header .barra {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  align-items: center;
  gap: 2rem;
}

.header .barra .navigation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.navigation a {
  text-align: center;
  text-decoration: none;
  color: light-dark(var(--primary-colortext) var(--white));
  padding: 1rem;
}

.header .barra .navigation a:hover,
.navigation .active {
  color: var(--secondary);
}

.form-container {
  margin: 5rem 0;
}


#form-actividades {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0rem 2rem;
}

#form-actividades #date {
  max-width: 20rem;
}

#form-actividades #description {
  width: 100%;
}